{% extends 'base.html' %}
{% block title %}Технологии{% endblock %}
{% load static %}
{% block content %}
<div class="row">
  <h1>Что я знал о джанге?</h1>
  {% comment %}
    Боковой блок со списком технологий
    Займет всю ширину блока на мобильном
    и 25% при размерах экрана ≥768px
  {% endcomment %}
<!--  <aside class="col-12 col-md-3">-->
<!--    <ul class="list-group">-->
<!--      <li class="list-group-item">-->
<!--        Python-->
<!--      </li>-->
<!--      <li class="list-group-item">-->
<!--        Django-->
<!--      </li>-->
<!--    </ul>-->
<!--  </aside>-->
  {% comment %}
    Статья
    Займет всю ширину блока на мобильном
    и 75% при размерах экрана ≥768px
  {% endcomment %}
  <article class="col-12 col-md-9">
    <p>На этой страничке перечисляют используемые технологии.</p>
    <img src="{% static 'img/10.jpg' %}" class="d-inline-block align-top" alt="">
  </article>
</div>
{% endblock %}