{% load user_filters %}

{% if user.is_authenticated %}
  <div class="card my-4">
    <h7 class="card-header">Добавить комментарий:</h7>
    <div class="card-body">
      <form method="post" action="{% url 'posts:add_comment' post_id=post.pk %}">
        {% csrf_token %}
        <div class="form-floating">
          {{ form.text|addclass:"form-control" }}
          {% for field in form %}
            {% if field.help_text %}
              <small id="{{ field.id_for_label }}-help"
                     class="form-text text-muted">
              {{ field.help_text|safe }}
              </small>
            {% endif %}
          {% endfor %}
        </div>
        <br>
        <button type="submit" class="btn btn-primary btn-sm">Отправить</button>
      </form>
    </div>
  </div>
{% endif %}

{% for comment in comments %}
  <div class="media mb-4">
    <div class="media-body">
      <h5 class="mt-0">
        <a href="{% url 'posts:profile' comment.author.username %}">
          {{ comment.author.username }}
        </a>
      </h5>
      <small>
        <p class="text-muted">{{ comment.created }}</p>
      </small>
      <p> {{ comment.text }} </p>
      </div>
    </div>
{% endfor %}
